.row {
    min-width: 100%;
}

input[type=number] {
    min-width: 300px;
    padding: 1rem;
}

input[type=text] {
    min-width: 300px;
    padding: 0.5rem;
}

p.current-wizard-label,
p.opponent-wizard-label {
    margin-top: 1rem;
}

a {
    cursor: pointer;
}

a:hover,
a:active {
    text-decoration: underline !important;
}

ul.list-group {
    padding: 1.5rem;
}

ul.list-group li:hover {
    opacity: 0.9;
}

ul.wizards-list {
    list-style: none;
}

div.predict-btn,
div.prediction-data {
    margin-top: 1.5rem;
}

div.cheese-wizard-image-small {
    max-width: 25vw;
    height: auto;
    margin: auto;
}

div.jumbotron {
    width: 90vw;
    margin: auto;
    margin-bottom: 1.5rem;
}

div.search-toggle,
div.search-controls {
    margin-top: 1rem;
    margin-bottom: 1rem;
}