<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>The Holy Cheese of Insight</title>

    <!-- CSS Imports -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <!-- JS Imports -->
    <script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
    <div id="cheese-of-insight" class="container container-fluid main-content">
        <h3>Welcome to the Holy Cheese of Insight!</h3>
        <div class="img-main" v-if="navigation.state < 0">
            <img class="img-fluid" src="img/holiness.jpg">
        </div>
        <div class="back-btn" v-else-if="navigation.state == VIEW_SELECTED_WIZARD">
            <a v-on:click="navigation.state = VIEW_ALL_WIZARDS">Back</a>
        </div>
        <div class="back-btn" v-else-if="navigation.state == PREDICT_MATCHES && currentWizard">
            <a v-on:click="navigation.state = VIEW_SELECTED_WIZARD">Back</a>
        </div>
        <div class="back-btn" v-else>
            <a v-on:click="navigation.state = HOME_STATE">Back</a>
        </div>
        <div class="row navigation">
            <ul class="list-group">
                <li class="list-group-item view-all-wizards" v-bind:class="{active: navigation.state == VIEW_ALL_WIZARDS || navigation.state == VIEW_SELECTED_WIZARD}">
                    <a v-on:click="setNavigation(0);">Browse Wizards</a>
                </li>
                <li class="list-group-item predict-matches" v-bind:class="{active: navigation.state == PREDICT_MATCHES}">
                    <a v-on:click="showPredictMatchOutcome();">Predict Match Outcomes</a>
                </li>
            </ul>
        </div>

        <!-- Browse All Wizards -->
        <div class="row view-all-wizards" v-if="navigation.state == VIEW_ALL_WIZARDS">
            <p v-if="isLoading">Loading Wizards...</p>
            <div class="all-wizards" v-else>
                <div class="controls">
                    <p>
                        <strong>Currently sorting wizards by {{ getSortedBy }}</strong>
                    </p>
                    <p>
                        <select v-model="wizardsSortedBy" v-on:change="setWizardsSorting(wizardsSortedBy)">
                            <option v-bind:value="SORTED_BY_POWER_LEVEL_STRONGEST">{{ sortedBy[SORTED_BY_POWER_LEVEL_STRONGEST] }}</option>
                            <option v-bind:value="SORTED_BY_POWER_LEVEL_WEAKEST">{{ sortedBy[SORTED_BY_POWER_LEVEL_WEAKEST] }}</option>
                            <option v-bind:value="SORTED_BY_POWER_LEVEL_GROWTH_STRONGEST">{{ sortedBy[SORTED_BY_POWER_LEVEL_GROWTH_STRONGEST] }}</option>
                            <option v-bind:value="SORTED_BY_POWER_LEVEL_GROWTH_WEAKEST">{{ sortedBy[SORTED_BY_POWER_LEVEL_GROWTH_WEAKEST] }}</option>
                            <option v-bind:value="SORTED_BY_AFFINITY_GROUPINGS">{{ sortedBy[SORTED_BY_AFFINITY_GROUPINGS] }}</option>
                        </select>
                    </p>
                </div>
                <div class="wizard" v-for="(wizard, index) in wizardsPage">
                    <ul class="wizards-list">
                        <li v-if="currentWizardsPage !== 1">
                            <a v-on:click="showWizard(wizard.id);">{{index + (currentWizardsPage * wizardsPageSize) +  1 }}) Cheeze Wizard #{{ wizard.id }}</a>
                        </li>
                        <li v-else>
                            <a v-on:click="showWizard(wizard.id);">{{index +  1 }}) Cheeze Wizard #{{ wizard.id }}</a>
                        </li>
                    </ul>
                </div>
                <!-- Paging -->
                <div class="page-controls">
                    <button class="btn btn-primary" v-on:click="previousWizardsPage();">Previous</button>
                    <button class="btn btn-inverse" v-on:click="currentWizardsPage = 1;"><<</button>
                    <button class="btn btn-inverse" v-on:click="currentWizardsPage = totalWizardsPages">>></button>
                    <button class="btn btn-primary" v-on:click="nextWizardsPage();">Next</button>
                </div>
            </div>
        </div>

        <!-- Browse Single Wizard -->
        <div class="row view-all-wizards" v-if="navigation.state == VIEW_SELECTED_WIZARD">
            <p v-if="isLoading">Loading Wizards...</p>
            <div class="single-wizard" v-if="currentWizard">
                <h5 class="title">Cheeze Wizard #{{ currentWizard.id }}</h5>
                <!-- Affinity -->
                <div class="affinity">
                    <p>
                        <strong>Affinity:</strong> {{ currentWizard.specialPower }}
                    </p>
                </div>
                <!-- Weak Against -->
                <div class="vulnerability">
                    <p>
                        <strong>Weak Against:</strong> {{ currentWizard.vulnerability }}
                    </p>
                </div>
                <!-- Strong Against -->
                <div class="optimal-opponent">
                        <p>
                            <strong>Strong Against:</strong> {{ currentWizard.optimalOpponent }}
                        </p>
                    </div>
                <div class="power-level">
                    <p>
                        <strong>Power Level:</strong> {{ currentWizard.power }}
                    </p>
                </div>
                <div class="growth">
                    <p>
                        <strong>Lifetime Power Growth:</strong> {{ currentWizard.power - currentWizard.initialPower }}
                    </p>
                </div>
                <div>
                    <p>XXX TODO: truncate decimals of power level stats</p>
                </div>
                <div class="cheese-wizard-image">
                    <img class="img-fluid" :src="currentWizard.image">
                </div>
            </div>
        </div>

        <!-- Match Predictor -->
        <div class="row match-predictor" v-if="navigation.state == PREDICT_MATCHES">
            <h5>Match Predictor</h5>

            <!-- Enter Wizards to Compare -->
            <div class="choose-wizard row">
                <p class="row current-wizard-label">
                    <label for="current_wizard">My Wizard:</label>
                </p>
                <input type="number" name="current_wizard" min="0" max="99999" v-model="currentWizard.selectedId" placeholder="Enter your Wizard ID here">
            </div>
            <div class="choose-opponent row">
                <p class="row opponent-wizard-label">
                    <label for="current_wizard">My Opponent's Wizard:</label>
                </p>
                <input type="number" name="opposing_wizard" min="0" max="99999" v-model="currentOpposingWizard.selectedId" placeholder="Enter opponent's Wizard ID here">
            </div>
            <div class="predict predict-btn row">
                <button class="btn btn-primary" v-on:click="predictMatchOutcome(currentWizard.selectedId, currentOpposingWizard.selectedId);" :disabled="!currentWizard || !currentOpposingWizard">Compare Wizards</button>
            </div>

            <!-- Prediction Results -->
            <div class="match-prediction row" v-if="matchPrediction">
                <!-- Nothing to predict -->
                <div class="invalid-prediction" v-if="predictionType == PREDICTION_UNAVAILABLE">
                    <p>Wizard #{{currentWizard.id}} and Wizard #{{ currentOpposingWizard.id }} appear to be evenly matched!</p>
                </div>

                <!-- Comparison Data -->
                <div class="prediction-data" v-else>
                    <!-- OP Wizard -->
                    <p v-if="matchPrediction.higherPoweredWizard">
                        <strong>Wizard #{{ matchPrediction.higherPoweredWizard.id }} is more powerful!</strong>
                    </p>
                    <!-- OP Wizard -->
                    <div v-if="matchPrediction.id">
                        <h5>Careful now, you've encountered one seriously sassy sorceror!</h5>
                        <p>
                            <strong>Wizard #{{ matchPrediction.id }} is more powerful!</strong>
                        </p>
                        <p>
                            <strong>Wizard #{{ matchPrediction.id }} has an affinity advantage!</strong>
                        </p>
                    </div>
                    <!-- Well Suited Wizard-->
                    <p v-if="matchPrediction.betterSuitedWizard">
                        <strong>Wizard #{{ matchPrediction.betterSuitedWizard.id }} has an affinity advantage!</strong>
                    </p>
                    
                    <div v-if="matchPrediction[0]">
                        <p v-if="matchPrediction[0].higherPoweredWizard">
                            <strong>Wizard #{{ matchPrediction[0].higherPoweredWizard.id }} is more powerful!</strong>
                        </p>
                    </div>
                    <div v-if="matchPrediction[1]">
                        <p v-if="matchPrediction[1].betterSuitedWizard">
                            <strong>Wizard #{{ matchPrediction[1].betterSuitedWizard.id }} has an affinity advantage!</strong>
                        </p>
                    </div>
                </div>

                <!-- Your Wizard -->
                <div class="row view-wizard-details" v-if="matchPrediction">
                    <div class="single-wizard my-wizard jumbotron" v-if="currentWizard">
                        
                        <h1 class="display-4">Your Wizard:</h1>
                        <hr/>

                        <h5 class="title">Cheeze Wizard #{{ currentWizard.id }}</h5>
                        <!-- Affinity -->
                        <div class="affinity">
                            <p>
                                <strong>Affinity:</strong> {{ currentWizard.specialPower }}
                            </p>
                        </div>
                        <!-- Weak Against -->
                        <div class="vulnerability">
                            <p>
                                <strong>Weak Against:</strong> {{ currentWizard.vulnerability }}
                            </p>
                        </div>
                        <!-- Strong Against -->
                        <div class="optimal-opponent">
                                <p>
                                    <strong>Strong Against:</strong> {{ currentWizard.optimalOpponent }}
                                </p>
                            </div>
                        <div class="power-level">
                            <p>
                                <strong>Power Level:</strong> {{ currentWizard.power }}
                            </p>
                        </div>
                        <div class="growth">
                            <p>
                                <strong>Lifetime Power Growth:</strong> {{ currentWizard.power - currentWizard.initialPower }}
                            </p>
                        </div>
                        <div>
                            <p>XXX TODO: truncate decimals of power level stats</p>
                        </div>
                        <div class="cheese-wizard-image cheese-wizard-image-small">
                            <img class="img-fluid" :src="currentWizard.image">
                        </div>
                    </div>
                </div>

                <!-- Opponent's Wizard -->
                <div class="row view-wizard-details" v-if="matchPrediction">
                    <div class="single-wizard opponent-wizard jumbotron" v-if="currentOpposingWizard">

                        <h1 class="display-4">Opponent's Wizard:</h1>
                        <hr/>

                        <h5 class="title">Cheeze Wizard #{{ currentOpposingWizard.id }}</h5>
                        <!-- Affinity -->
                        <div class="affinity">
                            <p>
                                <strong>Affinity:</strong> {{ currentOpposingWizard.specialPower }}
                            </p>
                        </div>
                        <!-- Weak Against -->
                        <div class="vulnerability">
                            <p>
                                <strong>Weak Against:</strong> {{ currentOpposingWizard.vulnerability }}
                            </p>
                        </div>
                        <!-- Strong Against -->
                        <div class="optimal-opponent">
                                <p>
                                    <strong>Strong Against:</strong> {{ currentOpposingWizard.optimalOpponent }}
                                </p>
                            </div>
                        <div class="power-level">
                            <p>
                                <strong>Power Level:</strong> {{ currentOpposingWizard.power }}
                            </p>
                        </div>
                        <div class="growth">
                            <p>
                                <strong>Lifetime Power Growth:</strong> {{ currentOpposingWizard.power - currentOpposingWizard.initialPower }}
                            </p>
                        </div>
                        <div>
                            <p>XXX TODO: truncate decimals of power level stats</p>
                        </div>
                        <div class="cheese-wizard-image cheese-wizard-image-small">
                            <img class="img-fluid" :src="currentOpposingWizard.image">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="build/app.js"></script>
</body>
</html>
